<div *ngIf="applicationState === 0" style="text-align: center;">
  <mat-icon fontIcon="timer" class="big-icon" />
 <button mat-raised-button color="primary" (click)="openCamera()">Start</button>
</div>
<video style="width: 100%; height: 100vh" autoplay="true" [ngStyle]="{display: applicationState === 1 ? 'block' : 'none'} "></video>

<div *ngIf="applicationState === 2" style="text-align: center;">
Product: {{detectedCode}}<br>
Time: 08:00
<mat-spinner [mode]="'determinate'" [value]="20" [diameter]="250"></mat-spinner>
<button mat-raised-button color="primary" (click)="openCamera()">Go Back</button>
<button mat-raised-button color="primary" (click)="openCamera()">Start timer</button>
</div>